@media (max-width: 991px) {
  #fp-nav {
    display: none; }
  header {
    padding: 20px;
    display: none; }
  h1, h2 {
    font-size: 40px; }
  h3 {
    font-size: 26px; }
  .scrollDowmLine, .bottomNavigation {
    display: none; }
  .circleBg {
    width: 900px;
    height: 900px; }
  .mainScreenWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .mainScreenWrapper .circleBg {
      right: -520px;
      top: -400px; }
    .mainScreenWrapper .mainScreenInfo {
      height: auto;
      text-align: center; }
      .mainScreenWrapper .mainScreenInfo h3 {
        margin-top: 20px; }
      .mainScreenWrapper .mainScreenInfo a {
        margin-top: 20px;
        width: 100%; }
        .mainScreenWrapper .mainScreenInfo a:before {
          left: -webkit-calc(50% - 100px);
          left: calc(50% - 100px); }
    .mainScreenWrapper .mainScreenImg {
      margin-top: 40px; }
      .mainScreenWrapper .mainScreenImg img {
        height: 300px; }
  .secondScreenWrapper .circleBg {
    left: -440px;
    bottom: -465px; }
  .secondScreenWrapper .secondScreenImg img {
    height: 300px; }
  .secondScreenWrapper .secondScreenInfo .flexibleContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    .secondScreenWrapper .secondScreenInfo .flexibleContent .flexibleRows .flexibleItem {
      padding-top: 20px; }
      .secondScreenWrapper .secondScreenInfo .flexibleContent .flexibleRows .flexibleItem p {
        font-size: 14px; }
  .thirdScreenWrapper .circleBg {
    left: -440px;
    top: -466px; }
  .thirdScreenWrapper .thirdScreenInfo {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .thirdScreenWrapper .thirdScreenInfo .thirdScreenWhereToBuy {
      display: none; }
    .thirdScreenWrapper .thirdScreenInfo .thirdScreenImg img {
      height: 300px; }
    .thirdScreenWrapper .thirdScreenInfo .thirdScreenBuyBlock {
      padding-top: 0; }
      .thirdScreenWrapper .thirdScreenInfo .thirdScreenBuyBlock h5 {
        margin-top: 0;
        margin-bottom: 20px; }
      .thirdScreenWrapper .thirdScreenInfo .thirdScreenBuyBlock p {
        font-size: 14px; }
      .thirdScreenWrapper .thirdScreenInfo .thirdScreenBuyBlock .priceAndBuyBlock {
        padding-top: 20px; }
  .fourthScreenWrapper h2 {
    margin-bottom: 20px; }
  .fourthScreenWrapper .socials {
    margin-bottom: 20px; }
  .fourthScreenWrapper .subscribeBlock h5 {
    font-size: 20px; }
  .fourthScreenWrapper .subscribeBlock input {
    width: auto; }
  .copyrightBlock {
    bottom: 120px;
    width: 500px; } }

@media (max-width: 520px) {
  .copyrightBlock {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-top: 20px;
    width: 100%; }
  .thirdScreenWrapper .thirdScreenInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .thirdScreenWrapper .thirdScreenInfo .thirdScreenBuyBlock {
      margin-top: 20px; }
      .thirdScreenWrapper .thirdScreenInfo .thirdScreenBuyBlock h5, .thirdScreenWrapper .thirdScreenInfo .thirdScreenBuyBlock p, .thirdScreenWrapper .thirdScreenInfo .thirdScreenBuyBlock .priceAndBuyBlock {
        width: 100%; }
      .thirdScreenWrapper .thirdScreenInfo .thirdScreenBuyBlock .priceAndBuyBlock {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }

@media (max-width: 423px) {
  .fourthScreenWrapper .subscribeBlock input {
    width: 100%; }
  .fourthScreenWrapper .subscribeBlock button {
    width: 100%;
    margin-left: 0; } }
